### *ORDER BY*

In [ ]:
import mysql.connector

In [10]:
try:
    conexion = mysql.connector.connect(host='localhost', user='root',password='',database='sakila')
    cursor = conexion.cursor()
    cursor.execute("select actor_id as id, first_name as Nombre, last_name as Apellido, last_update as Actualización from actor order by Apellido asc")
    filas = cursor.fetchall()

    print("==============================================")
    print("\t\t CONSULTA ORDER BY")
    print("==============================================")
    for fila in filas:
        id, nombre, apellido, act = fila
        print(f"ID: {id}, NOMBRE: {nombre}, APELLIDO: {apellido}")
        
    print("==============================================")
    print("\t\t FIN CONSULTA")
    print("==============================================")

    conexion.commit()
    conexion.close()

except Exception as e:
    print(f"ERROR DE CONEXION--> {e}")

==============================================
		 CONSULTA ORDER BY
==============================================
ID: 182, NOMBRE: DEBBIE, APELLIDO: AKROYD
ID: 92, NOMBRE: KIRSTEN, APELLIDO: AKROYD
ID: 58, NOMBRE: CHRISTIAN, APELLIDO: AKROYD
ID: 194, NOMBRE: MERYL, APELLIDO: ALLEN
ID: 118, NOMBRE: CUBA, APELLIDO: ALLEN
ID: 145, NOMBRE: KIM, APELLIDO: ALLEN
ID: 76, NOMBRE: ANGELINA, APELLIDO: ASTAIRE
ID: 112, NOMBRE: RUSSELL, APELLIDO: BACALL
ID: 67, NOMBRE: JESSICA, APELLIDO: BAILEY
ID: 190, NOMBRE: AUDREY, APELLIDO: BAILEY
ID: 115, NOMBRE: HARRISON, APELLIDO: BALE
ID: 187, NOMBRE: RENEE, APELLIDO: BALL
ID: 47, NOMBRE: JULIA, APELLIDO: BARRYMORE
ID: 158, NOMBRE: VIVIEN, APELLIDO: BASINGER
ID: 174, NOMBRE: MICHAEL, APELLIDO: BENING
ID: 124, NOMBRE: SCARLETT, APELLIDO: BENING
ID: 14, NOMBRE: VIVIEN, APELLIDO: BERGEN
ID: 121, NOMBRE: LIZA, APELLIDO: BERGMAN
ID: 60, NOMBRE: HENRY, APELLIDO: BERRY
ID: 91, NOMBRE: CHRISTOPHER, APELLIDO: BERRY
ID: 12, NOMBRE: KARL, APELLIDO: BERRY
ID: 189, NOMBRE: CUBA, APELLIDO: BIRCH
ID: 25, NOMBRE: KEVIN, APELLIDO: BLOOM
ID: 37, NOMBRE: VAL, APELLIDO: BOLGER
ID: 185, NOMBRE: MICHAEL, APELLIDO: BOLGER
ID: 98, NOMBRE: CHRIS, APELLIDO: BRIDGES
ID: 39, NOMBRE: GOLDIE, APELLIDO: BRODY
ID: 159, NOMBRE: LAURA, APELLIDO: BRODY
ID: 167, NOMBRE: LAURENCE, APELLIDO: BULLOCK
ID: 40, NOMBRE: JOHNNY, APELLIDO: CAGE
ID: 11, NOMBRE: ZERO, APELLIDO: CAGE
ID: 181, NOMBRE: MATTHEW, APELLIDO: CARREY
ID: 86, NOMBRE: GREG, APELLIDO: CHAPLIN
ID: 3, NOMBRE: ED, APELLIDO: CHASE
ID: 176, NOMBRE: JON, APELLIDO: CHASE
ID: 183, NOMBRE: RUSSELL, APELLIDO: CLOSE
ID: 16, NOMBRE: FRED, APELLIDO: COSTNER
ID: 26, NOMBRE: RIP, APELLIDO: CRAWFORD
ID: 129, NOMBRE: DARYL, APELLIDO: CRAWFORD
ID: 49, NOMBRE: ANNE, APELLIDO: CRONYN
ID: 104, NOMBRE: PENELOPE, APELLIDO: CRONYN
ID: 105, NOMBRE: SIDNEY, APELLIDO: CROWE
ID: 57, NOMBRE: JUDE, APELLIDO: CRUISE
ID: 80, NOMBRE: RALPH, APELLIDO: CRUZ
ID: 81, NOMBRE: SCARLETT, APELLIDO: DAMON
ID: 110, NOMBRE: SUSAN, APELLIDO: DAVIS
ID: 101, NOMBRE: SUSAN, APELLIDO: DAVIS
ID: 4, NOMBRE: JENNIFER, APELLIDO: DAVIS
ID: 48, NOMBRE: FRANCES, APELLIDO: DAY-LEWIS
ID: 143, NOMBRE: RIVER, APELLIDO: DEAN
ID: 35, NOMBRE: JUDY, APELLIDO: DEAN
ID: 138, NOMBRE: LUCILLE, APELLIDO: DEE
ID: 148, NOMBRE: EMILY, APELLIDO: DEE
ID: 41, NOMBRE: JODIE, APELLIDO: DEGENERES
ID: 166, NOMBRE: NICK, APELLIDO: DEGENERES
ID: 107, NOMBRE: GINA, APELLIDO: DEGENERES
ID: 123, NOMBRE: JULIANNE, APELLIDO: DENCH
ID: 89, NOMBRE: CHARLIZE, APELLIDO: DENCH
ID: 100, NOMBRE: SPENCER, APELLIDO: DEPP
ID: 160, NOMBRE: CHRIS, APELLIDO: DEPP
ID: 109, NOMBRE: SYLVESTER, APELLIDO: DERN
ID: 173, NOMBRE: ALAN, APELLIDO: DREYFUSS
ID: 188, NOMBRE: ROCK, APELLIDO: DUKAKIS
ID: 36, NOMBRE: BURT, APELLIDO: DUKAKIS
ID: 106, NOMBRE: GROUCHO, APELLIDO: DUNST
ID: 19, NOMBRE: BOB, APELLIDO: FAWCETT
ID: 199, NOMBRE: JULIA, APELLIDO: FAWCETT
ID: 10, NOMBRE: CHRISTIAN, APELLIDO: GABLE
ID: 184, NOMBRE: HUMPHREY, APELLIDO: GARLAND
ID: 127, NOMBRE: KEVIN, APELLIDO: GARLAND
ID: 165, NOMBRE: AL, APELLIDO: GARLAND
ID: 154, NOMBRE: MERYL, APELLIDO: GIBSON
ID: 46, NOMBRE: PARKER, APELLIDO: GOLDBERG
ID: 191, NOMBRE: GREGORY, APELLIDO: GOODING
ID: 139, NOMBRE: EWAN, APELLIDO: GOODING
ID: 71, NOMBRE: ADAM, APELLIDO: GRANT
ID: 90, NOMBRE: SEAN, APELLIDO: GUINESS
ID: 1, NOMBRE: PENELOPE, APELLIDO: GUINESS
ID: 179, NOMBRE: ED, APELLIDO: GUINESS
ID: 175, NOMBRE: WILLIAM, APELLIDO: HACKMAN
ID: 32, NOMBRE: TIM, APELLIDO: HACKMAN
ID: 152, NOMBRE: BEN, APELLIDO: HARRIS
ID: 141, NOMBRE: CATE, APELLIDO: HARRIS
ID: 56, NOMBRE: DAN, APELLIDO: HARRIS
ID: 97, NOMBRE: MEG, APELLIDO: HAWKE
ID: 151, NOMBRE: GEOFFREY, APELLIDO: HESTON
ID: 169, NOMBRE: KENNETH, APELLIDO: HOFFMAN
ID: 28, NOMBRE: WOODY, APELLIDO: HOFFMAN
ID: 79, NOMBRE: MAE, APELLIDO: HOFFMAN
ID: 161, NOMBRE: HARVEY, APELLIDO: HOPE
ID: 113, NOMBRE: MORGAN, APELLIDO: HOPKINS
ID: 134, NOMBRE: GENE, APELLIDO: HOPKINS
ID: 50, NOMBRE: NATALIE, APELLIDO: HOPKINS
ID: 170, NOMBRE: MENA, APELLIDO: HOPPER
ID: 132, NOMBRE: ADAM, APELLIDO: HOPPER
ID: 65, NOMBRE: ANGELA, APELLIDO: HUDSON
ID: 52, NOMBRE: CARMEN, APELLIDO: HUNT
ID: 140, NOMBRE: WHOOPI, APELLIDO: HURT
ID: 119, NOMBRE: WARREN, APELLIDO: JACKMAN
ID: 131, NOMBRE: JANE, APELLIDO: JACKMAN
ID: 146, NOMBRE: ALBERT, APELLIDO: JOHANSSON
ID: 8, NOMBRE: MATTHEW, APELLIDO: JOHANSSON
ID: 64, NOMBRE: RAY, APELLIDO: JOHANSSON
ID: 82, NOMBRE: WOODY, APELLIDO: JOLIE
ID: 43, NOMBRE: KIRK, APELLIDO: JOVOVICH
ID: 198, NOMBRE: MARY, APELLIDO: KEITEL
ID: 74, NOMBRE: MILLA, APELLIDO: KEITEL
ID: 130, NOMBRE: GRETA, APELLIDO: KEITEL
ID: 45, NOMBRE: REESE, APELLIDO: KILMER
ID: 162, NOMBRE: OPRAH, APELLIDO: KILMER
ID: 153, NOMBRE: MINNIE, APELLIDO: KILMER
ID: 55, NOMBRE: FAY, APELLIDO: KILMER
ID: 23, NOMBRE: SANDRA, APELLIDO: KILMER
ID: 103, NOMBRE: MATTHEW, APELLIDO: LEIGH
ID: 5, NOMBRE: JOHNNY, APELLIDO: LOLLOBRIGIDA
ID: 157, NOMBRE: GRETA, APELLIDO: MALDEN
ID: 136, NOMBRE: ED, APELLIDO: MANSFIELD
ID: 22, NOMBRE: ELVIS, APELLIDO: MARX
ID: 70, NOMBRE: MICHELLE, APELLIDO: MCCONAUGHEY
ID: 77, NOMBRE: CARY, APELLIDO: MCCONAUGHEY
ID: 114, NOMBRE: MORGAN, APELLIDO: MCDORMAND
ID: 177, NOMBRE: GENE, APELLIDO: MCKELLEN
ID: 38, NOMBRE: TOM, APELLIDO: MCKELLEN
ID: 27, NOMBRE: JULIA, APELLIDO: MCQUEEN
ID: 128, NOMBRE: CATE, APELLIDO: MCQUEEN
ID: 42, NOMBRE: TOM, APELLIDO: MIRANDA
ID: 120, NOMBRE: PENELOPE, APELLIDO: MONROE
ID: 178, NOMBRE: LISA, APELLIDO: MONROE
ID: 7, NOMBRE: GRACE, APELLIDO: MOSTEL
ID: 99, NOMBRE: JIM, APELLIDO: MOSTEL
ID: 62, NOMBRE: JAYNE, APELLIDO: NEESON
ID: 61, NOMBRE: CHRISTIAN, APELLIDO: NEESON
ID: 6, NOMBRE: BETTE, APELLIDO: NICHOLSON
ID: 125, NOMBRE: ALBERT, APELLIDO: NOLTE
ID: 150, NOMBRE: JAYNE, APELLIDO: NOLTE
ID: 122, NOMBRE: SALMA, APELLIDO: NOLTE
ID: 108, NOMBRE: WARREN, APELLIDO: NOLTE
ID: 34, NOMBRE: AUDREY, APELLIDO: OLIVIER
ID: 15, NOMBRE: CUBA, APELLIDO: OLIVIER
ID: 21, NOMBRE: KIRSTEN, APELLIDO: PALTROW
ID: 69, NOMBRE: KENNETH, APELLIDO: PALTROW
ID: 30, NOMBRE: SANDRA, APELLIDO: PECK
ID: 87, NOMBRE: SPENCER, APELLIDO: PECK
ID: 33, NOMBRE: MILLA, APELLIDO: PECK
ID: 133, NOMBRE: RICHARD, APELLIDO: PENN
ID: 73, NOMBRE: GARY, APELLIDO: PENN
ID: 88, NOMBRE: KENNETH, APELLIDO: PESCI
ID: 171, NOMBRE: OLYMPIA, APELLIDO: PFEIFFER
ID: 51, NOMBRE: GARY, APELLIDO: PHOENIX
ID: 54, NOMBRE: PENELOPE, APELLIDO: PINKETT
ID: 84, NOMBRE: JAMES, APELLIDO: PITT
ID: 75, NOMBRE: BURT, APELLIDO: POSEY
ID: 93, NOMBRE: ELLEN, APELLIDO: PRESLEY
ID: 135, NOMBRE: RITA, APELLIDO: REYNOLDS
ID: 142, NOMBRE: JADA, APELLIDO: RYDER
ID: 195, NOMBRE: JAYNE, APELLIDO: SILVERSTONE
ID: 180, NOMBRE: JEFF, APELLIDO: SILVERSTONE
ID: 78, NOMBRE: GROUCHO, APELLIDO: SINATRA
ID: 31, NOMBRE: SISSY, APELLIDO: SOBIESKI
ID: 44, NOMBRE: NICK, APELLIDO: STALLONE
ID: 116, NOMBRE: DAN, APELLIDO: STREEP
ID: 24, NOMBRE: CAMERON, APELLIDO: STREEP
ID: 192, NOMBRE: JOHN, APELLIDO: SUVARI
ID: 9, NOMBRE: JOE, APELLIDO: SWANK
ID: 155, NOMBRE: IAN, APELLIDO: TANDY
ID: 66, NOMBRE: MARY, APELLIDO: TANDY
ID: 59, NOMBRE: DUSTIN, APELLIDO: TAUTOU
ID: 53, NOMBRE: MENA, APELLIDO: TEMPLE
ID: 149, NOMBRE: RUSSELL, APELLIDO: TEMPLE
ID: 200, NOMBRE: THORA, APELLIDO: TEMPLE
ID: 193, NOMBRE: BURT, APELLIDO: TEMPLE
ID: 126, NOMBRE: FRANCES, APELLIDO: TOMEI
ID: 94, NOMBRE: KENNETH, APELLIDO: TORN
ID: 18, NOMBRE: DAN, APELLIDO: TORN
ID: 102, NOMBRE: WALTER, APELLIDO: TORN
ID: 20, NOMBRE: LUCILLE, APELLIDO: TRACY
ID: 117, NOMBRE: RENEE, APELLIDO: TRACY
ID: 17, NOMBRE: HELEN, APELLIDO: VOIGHT
ID: 2, NOMBRE: NICK, APELLIDO: WAHLBERG
ID: 95, NOMBRE: DARYL, APELLIDO: WAHLBERG
ID: 196, NOMBRE: BELA, APELLIDO: WALKEN
ID: 29, NOMBRE: ALEC, APELLIDO: WAYNE
ID: 197, NOMBRE: REESE, APELLIDO: WEST
ID: 163, NOMBRE: CHRISTOPHER, APELLIDO: WEST
ID: 137, NOMBRE: MORGAN, APELLIDO: WILLIAMS
ID: 172, NOMBRE: GROUCHO, APELLIDO: WILLIAMS
ID: 72, NOMBRE: SEAN, APELLIDO: WILLIAMS
ID: 164, NOMBRE: HUMPHREY, APELLIDO: WILLIS
ID: 83, NOMBRE: BEN, APELLIDO: WILLIS
ID: 96, NOMBRE: GENE, APELLIDO: WILLIS
ID: 168, NOMBRE: WILL, APELLIDO: WILSON
ID: 147, NOMBRE: FAY, APELLIDO: WINSLET
ID: 68, NOMBRE: RIP, APELLIDO: WINSLET
ID: 144, NOMBRE: ANGELA, APELLIDO: WITHERSPOON
ID: 13, NOMBRE: UMA, APELLIDO: WOOD
ID: 156, NOMBRE: FAY, APELLIDO: WOOD
ID: 63, NOMBRE: CAMERON, APELLIDO: WRAY
ID: 85, NOMBRE: MINNIE, APELLIDO: ZELLWEGER
ID: 186, NOMBRE: JULIA, APELLIDO: ZELLWEGER
ID: 111, NOMBRE: CAMERON, APELLIDO: ZELLWEGER
==============================================
		 FIN CONSULTA
==============================================

### *WHERE*

In [13]:
try:
    conexion = mysql.connector.connect(host='localhost', user='root',password='',database='sakila')
    cursor = conexion.cursor()
    
    cursor.execute("select * from actor where first_name like '%N' and last_name like 'W%' ")
    
    filas = cursor.fetchall()
    
    
    print("==============================================")
    print("\t\t CONSULTA WHERE Y AND")
    print("==============================================")
    for fila in filas:
        id, nombre, apellido, act = fila
        print(f"NOMBRE: {nombre}, APELLIDO: {apellido}")
        
    print("==============================================")
    print("\t\t FIN CONSULTA")
    print("==============================================")

    conexion.commit()
    conexion.close()

except Exception as e:
    print(f"ERROR DE CONEXION--> {e}")

==============================================
		 CONSULTA WHERE Y AND
==============================================
NOMBRE: SEAN, APELLIDO: WILLIAMS
NOMBRE: MORGAN, APELLIDO: WILLIAMS
NOMBRE: BEN, APELLIDO: WILLIS
NOMBRE: CAMERON, APELLIDO: WRAY
==============================================
		 FIN CONSULTA
==============================================

In [14]:
try:
    conexion = mysql.connector.connect(host='localhost', user='root',password='',database='sakila')
    cursor = conexion.cursor()
    
    cursor.execute("select * from actor where first_name like '%N' or last_name like 'W%' ")
    
    filas = cursor.fetchall()
    
    
    print("==============================================")
    print("\t\t CONSULTA WHERE Y OR")
    print("==============================================")
    for fila in filas:
        id, nombre, apellido, act = fila
        print(f"NOMBRE: {nombre}, APELLIDO: {apellido}")
        
    print("==============================================")
    print("\t\t FIN CONSULTA")
    print("==============================================")

    conexion.commit()
    conexion.close()

except Exception as e:
    print(f"ERROR DE CONEXION--> {e}")

==============================================
		 CONSULTA WHERE Y OR
==============================================
NOMBRE: NICK, APELLIDO: WAHLBERG
NOMBRE: CHRISTIAN, APELLIDO: GABLE
NOMBRE: UMA, APELLIDO: WOOD
NOMBRE: VIVIEN, APELLIDO: BERGEN
NOMBRE: HELEN, APELLIDO: VOIGHT
NOMBRE: DAN, APELLIDO: TORN
NOMBRE: KIRSTEN, APELLIDO: PALTROW
NOMBRE: CAMERON, APELLIDO: STREEP
NOMBRE: KEVIN, APELLIDO: BLOOM
NOMBRE: ALEC, APELLIDO: WAYNE
NOMBRE: CARMEN, APELLIDO: HUNT
NOMBRE: DAN, APELLIDO: HARRIS
NOMBRE: CHRISTIAN, APELLIDO: AKROYD
NOMBRE: DUSTIN, APELLIDO: TAUTOU
NOMBRE: CHRISTIAN, APELLIDO: NEESON
NOMBRE: CAMERON, APELLIDO: WRAY
NOMBRE: RIP, APELLIDO: WINSLET
NOMBRE: SEAN, APELLIDO: WILLIAMS
NOMBRE: BEN, APELLIDO: WILLIS
NOMBRE: SEAN, APELLIDO: GUINESS
NOMBRE: KIRSTEN, APELLIDO: AKROYD
NOMBRE: ELLEN, APELLIDO: PRESLEY
NOMBRE: DARYL, APELLIDO: WAHLBERG
NOMBRE: GENE, APELLIDO: WILLIS
NOMBRE: SUSAN, APELLIDO: DAVIS
NOMBRE: WARREN, APELLIDO: NOLTE
NOMBRE: SUSAN, APELLIDO: DAVIS
NOMBRE: CAMERON, APELLIDO: ZELLWEGER
NOMBRE: MORGAN, APELLIDO: HOPKINS
NOMBRE: MORGAN, APELLIDO: MCDORMAND
NOMBRE: HARRISON, APELLIDO: BALE
NOMBRE: DAN, APELLIDO: STREEP
NOMBRE: WARREN, APELLIDO: JACKMAN
NOMBRE: KEVIN, APELLIDO: GARLAND
NOMBRE: MORGAN, APELLIDO: WILLIAMS
NOMBRE: EWAN, APELLIDO: GOODING
NOMBRE: ANGELA, APELLIDO: WITHERSPOON
NOMBRE: FAY, APELLIDO: WINSLET
NOMBRE: BEN, APELLIDO: HARRIS
NOMBRE: IAN, APELLIDO: TANDY
NOMBRE: FAY, APELLIDO: WOOD
NOMBRE: VIVIEN, APELLIDO: BASINGER
NOMBRE: CHRISTOPHER, APELLIDO: WEST
NOMBRE: HUMPHREY, APELLIDO: WILLIS
NOMBRE: WILL, APELLIDO: WILSON
NOMBRE: GROUCHO, APELLIDO: WILLIAMS
NOMBRE: ALAN, APELLIDO: DREYFUSS
NOMBRE: JON, APELLIDO: CHASE
NOMBRE: JOHN, APELLIDO: SUVARI
NOMBRE: BELA, APELLIDO: WALKEN
NOMBRE: REESE, APELLIDO: WEST
==============================================
		 FIN CONSULTA
==============================================

In [19]:
try:
    conexion = mysql.connector.connect(host='localhost', user='root',password='',database='sakila')
    cursor = conexion.cursor()
    
    cursor.execute("select * from actor where first_name like '%N' and last_name not like 'W%' ")
    
    filas = cursor.fetchall()
    
    
    print("==============================================")
    print("\t\t CONSULTA WHERE Y NOT")
    print("==============================================")
    for fila in filas:
        id, nombre, apellido, act = fila
        print(f"NOMBRE: {nombre}, APELLIDO: {apellido}")
        
    print("==============================================")
    print("\t\t FIN CONSULTA")
    print("==============================================")

    conexion.commit()
    conexion.close()

except Exception as e:
    print(f"ERROR DE CONEXION--> {e}")

==============================================
		 CONSULTA WHERE Y OR
==============================================
NOMBRE: CHRISTIAN, APELLIDO: GABLE
NOMBRE: VIVIEN, APELLIDO: BERGEN
NOMBRE: HELEN, APELLIDO: VOIGHT
NOMBRE: DAN, APELLIDO: TORN
NOMBRE: KIRSTEN, APELLIDO: PALTROW
NOMBRE: CAMERON, APELLIDO: STREEP
NOMBRE: KEVIN, APELLIDO: BLOOM
NOMBRE: CARMEN, APELLIDO: HUNT
NOMBRE: DAN, APELLIDO: HARRIS
NOMBRE: CHRISTIAN, APELLIDO: AKROYD
NOMBRE: DUSTIN, APELLIDO: TAUTOU
NOMBRE: CHRISTIAN, APELLIDO: NEESON
NOMBRE: SEAN, APELLIDO: GUINESS
NOMBRE: KIRSTEN, APELLIDO: AKROYD
NOMBRE: ELLEN, APELLIDO: PRESLEY
NOMBRE: SUSAN, APELLIDO: DAVIS
NOMBRE: WARREN, APELLIDO: NOLTE
NOMBRE: SUSAN, APELLIDO: DAVIS
NOMBRE: CAMERON, APELLIDO: ZELLWEGER
NOMBRE: MORGAN, APELLIDO: HOPKINS
NOMBRE: MORGAN, APELLIDO: MCDORMAND
NOMBRE: HARRISON, APELLIDO: BALE
NOMBRE: DAN, APELLIDO: STREEP
NOMBRE: WARREN, APELLIDO: JACKMAN
NOMBRE: KEVIN, APELLIDO: GARLAND
NOMBRE: EWAN, APELLIDO: GOODING
NOMBRE: BEN, APELLIDO: HARRIS
NOMBRE: IAN, APELLIDO: TANDY
NOMBRE: VIVIEN, APELLIDO: BASINGER
NOMBRE: ALAN, APELLIDO: DREYFUSS
NOMBRE: JON, APELLIDO: CHASE
NOMBRE: JOHN, APELLIDO: SUVARI
==============================================
		 FIN CONSULTA
==============================================